* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  position: relative;
  font-family: 'Roboto', sans-serif; }

.myheader {
  position: relative;
  background-image: url("../../img/background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10; }
  .myheader .header_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    background: #111111;
    z-index: 2;
    opacity: .85; }
  .myheader .header_content {
    position: relative;
    z-index: 99;
    overflow: hidden;
    padding: 250px 0; }
    .myheader .header_content .header__items h1 {
      color: wheat;
      font-size: 46px;
      font-weight: bold;
      letter-spacing: 5px; }
    .myheader .header_content .header__items p {
      color: wheat;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 12px; }
    .myheader .header_content .header__items .header__item i {
      border: 1px solid #FF9800;
      padding: 10px 15px;
      margin-right: 10px;
      color: wheat;
      transition: all 2s;
      -webkit-transition: all 2s;
      -moz-transition: all 2s;
      -ms-transition: all 2s;
      -o-transition: all 2s; }
      .myheader .header_content .header__items .header__item i:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg); }
    .myheader .header_content .header__items .page-scroll {
      text-decoration: none; }
      .myheader .header_content .header__items .page-scroll .icon-scroll {
        position: absolute;
        left: 50%;
        top: 85%;
        width: 40px;
        height: 70px;
        margin-left: -20px;
        border-radius: 25px !important;
        -webkit-border-radius: 25px !important;
        -moz-border-radius: 25px !important;
        -ms-border-radius: 25px !important;
        -o-border-radius: 25px !important;
        box-shadow: inset 0 0 0 1px wheat; }
        .myheader .header_content .header__items .page-scroll .icon-scroll::before {
          background-color: wheat;
          content: '';
          position: absolute;
          left: 50%;
          width: 8px;
          height: 8px;
          margin-left: -4px;
          top: 8px;
          border-radius: 4px !important;
          -webkit-border-radius: 4px !important;
          -moz-border-radius: 4px !important;
          -ms-border-radius: 4px !important;
          -o-border-radius: 4px !important;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-name: scroll; }
  @media only screen and (max-width: 768px) {
    .myheader .header_content .header__items h1 {
      color: wheat;
      font-size: 38px;
      font-weight: bold;
      letter-spacing: 5px; }
    .myheader .header_content .header__items p {
      color: wheat;
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 10px; } }
  @media only screen and (max-width: 480px) {
    .myheader .header_content {
      padding: 200px 0px; }
      .myheader .header_content .header__items h1 {
        color: wheat;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 3px; }
      .myheader .header_content .header__items p {
        color: wheat;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 7px; } }

.clear {
  clear: both; }

@keyframes scroll {
  0% {
    top: 8px; }
  80% {
    top: 60px; }
  100% {
    opacity: 0; } }
.myNavbar {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  .myNavbar.scrollClass {
    background: #111111; }
    .myNavbar.scrollClass .navbar-brand {
      color: #FF9800;
      font-size: 26px;
      font-weight: bold; }
  .myNavbar .navbar-brand {
    font-family: 'Kaushan Script', cursive;
    color: #FF9800;
    font-size: 46px;
    font-weight: bold; }
    .myNavbar .navbar-brand:hover {
      color: #FF9800; }
  .myNavbar .navbar-toggler {
    border-color: #FF9800; }
  .myNavbar .collapse .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s; }
    .myNavbar .collapse .navbar-nav .nav-item .nav-link:hover {
      color: #FF9800; }
  .myNavbar .collapse .navbar-nav .nav-item .active {
    color: #FF9800; }
  @media only screen and (max-width: 768px) {
    .myNavbar .navbar-brand {
      color: #FF9800;
      font-size: 38px;
      font-weight: bold; }
    .myNavbar .collapse .navbar-nav .nav-item .nav-link {
      color: white;
      font-size: 16px;
      font-weight: 600; } }

#about {
  padding: 60px 0; }
  #about h1 {
    color: #000;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 3px; }
  #about p {
    color: #656c6d;
    font-size: 18px;
    font-weight: normal;
    padding: 20px 50px; }
  #about .about_items .about_item {
    padding: 60px; }
    #about .about_items .about_item p:nth-child(2) {
      color: #656c6d;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 2px;
      padding: 20px 0; }
    #about .about_items .about_item ul {
      list-style: none; }
      #about .about_items .about_item ul li {
        width: 33%;
        float: left;
        font-size: 18px;
        margin-bottom: 20px; }
        #about .about_items .about_item ul li i {
          color: #FF9800;
          font-size: 18px;
          font-weight: normal;
          margin-right: 10px; }
    #about .about_items .about_item .about_btn .btn_down {
      background: #FF9800;
      padding: 10px 20px;
      margin-top: 30px; }
      #about .about_items .about_item .about_btn .btn_down a {
        text-decoration: none;
        color: white; }
  #about .about_items .about_img {
    text-align: center; }
    #about .about_items .about_img img {
      background-color: white;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      width: 250px;
      height: 250px;
      border: 2px solid #FF9800;
      padding: 5px; }
  #about .about_items .about_us ul {
    list-style: none; }
    #about .about_items .about_us ul li {
      border-bottom: 1px solid #bfb7b7;
      padding: 5px 0;
      margin-bottom: 10px; }

@media only screen and (max-width: 768px) {
  #about p {
    padding: 20px 0px 0px; }
  #about .about_items .about_item {
    padding: 20px 0px; } }
@media only screen and (max-width: 480px) {
  #about h1 {
    font-size: 26px; }
  #about p {
    font-size: 16px; }
  #about .about_items .about_item {
    padding: 20px; }
    #about .about_items .about_item h2 {
      font-size: 26px; }
    #about .about_items .about_item p:nth-child(2) {
      font-size: 16px; } }
.hr_content {
  width: 20%;
  margin: auto;
  background: linear-gradient(to right, #FF9800, #391311);
  height: 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }

#work {
  background: #f2f2f2;
  padding: 50px 0; }
  #work .clearfix::after {
    content: '';
    display: block;
    clear: both; }
  #work h1 {
    color: #000;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 3px; }
  #work ul.work_resume {
    position: relative;
    list-style: none;
    margin-top: 40px; }
    #work ul.work_resume::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 2px;
      background: linear-gradient(to bottom, #FF9800, #391311);
      margin-left: -6.5px; }
    #work ul.work_resume li:nth-child(odd) {
      position: relative; }
      #work ul.work_resume li:nth-child(odd)::before {
        content: '';
        left: 49%;
        display: inline-block;
        width: 13px;
        height: 13px;
        position: absolute;
        background: linear-gradient(to bottom, #FF9800, #391311);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%; }
      #work ul.work_resume li:nth-child(odd) .work_items {
        float: left;
        position: relative;
        width: 41%;
        padding: 35px;
        text-align: left;
        border: none;
        background: linear-gradient(to right, #FF9800, #391311); }
        #work ul.work_resume li:nth-child(odd) .work_items::before {
          content: '';
          display: inline-block;
          border: none;
          width: 20px;
          height: 20px;
          top: 4px;
          right: -10px;
          background: #391311;
          position: absolute;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg); }
        #work ul.work_resume li:nth-child(odd) .work_items .work_info {
          color: white;
          font-family: 'Roboto', sans-serif; }
        #work ul.work_resume li:nth-child(odd) .work_items .time {
          color: white;
          letter-spacing: 2px;
          line-height: 20px;
          padding-top: 5px; }
        #work ul.work_resume li:nth-child(odd) .work_items .work_body {
          color: white;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 2px;
          line-height: 20px; }
    #work ul.work_resume li:nth-child(even) {
      position: relative; }
      #work ul.work_resume li:nth-child(even)::before {
        content: '';
        position: absolute;
        left: 49%;
        display: inline-block;
        width: 13px;
        height: 13px;
        background: linear-gradient(to bottom, #FF9800, #391311);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%; }
      #work ul.work_resume li:nth-child(even) .work_items {
        float: right;
        position: relative;
        width: 41%;
        padding: 35px;
        text-align: left;
        border: none;
        background: linear-gradient(to left, #FF9800, #391311); }
        #work ul.work_resume li:nth-child(even) .work_items::before {
          content: '';
          display: inline-block;
          border: none;
          width: 20px;
          height: 20px;
          top: 4px;
          left: -10px;
          background: #391311;
          position: absolute;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg); }
        #work ul.work_resume li:nth-child(even) .work_items .work_info {
          color: white; }
        #work ul.work_resume li:nth-child(even) .work_items .time {
          color: white; }
        #work ul.work_resume li:nth-child(even) .work_items .work_body {
          color: white;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 2px;
          line-height: 20px; }
  @media only screen and (max-width: 768px) {
    #work ul.work_resume {
      position: relative;
      list-style: none;
      margin-top: 40px; }
      #work ul.work_resume::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 2px;
        background: linear-gradient(to bottom, #FF9800, #391311);
        margin-left: 0px; } }
  @media only screen and (max-width: 480px) {
    #work ul.work_resume {
      position: relative;
      list-style: none;
      margin-top: 40px; }
      #work ul.work_resume::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        background: linear-gradient(to bottom, #FF9800, #391311);
        margin-left: 0px; }
      #work ul.work_resume li:nth-child(odd) {
        margin-top: 15px; }
        #work ul.work_resume li:nth-child(odd)::before {
          left: -5px; }
        #work ul.work_resume li:nth-child(odd) .work_items {
          margin-left: 32px;
          width: auto; }
          #work ul.work_resume li:nth-child(odd) .work_items::before {
            left: -10px;
            background: #FF9800; }
      #work ul.work_resume li:nth-child(even) {
        margin-top: 15px; }
        #work ul.work_resume li:nth-child(even)::before {
          left: -5px; }
        #work ul.work_resume li:nth-child(even) .work_items {
          margin-left: 32px;
          width: auto;
          float: left;
          padding-right: 40px; } }

#skill {
  background: #1a1e23;
  padding: 60px 0; }
  #skill h1 {
    color: white;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 3px; }
  #skill .skill_content {
    padding: 50px; }
    #skill .skill_content .skill_items {
      color: white;
      font-size: 18px;
      font-weight: normal; }
      #skill .skill_content .skill_items span {
        float: right; }
      #skill .skill_content .skill_items .progress {
        margin-bottom: 25px;
        height: 10px;
        background: #333; }
        #skill .skill_content .skill_items .progress .progress_bar_html {
          float: left;
          width: 0;
          height: 100%;
          font-size: 12px;
          background-color: #FF9800;
          text-align: center;
          animation: progress-html 3s ease-in-out forwards;
          -webkit-animation: progress-html 3s ease-in-out forwards; }
        #skill .skill_content .skill_items .progress .progress_bar_sass {
          float: left;
          width: 0;
          height: 100%;
          font-size: 12px;
          background-color: #FF9800;
          text-align: center;
          animation: progress-sass 3s ease-in-out forwards;
          -webkit-animation: progress-sass 3s ease-in-out forwards; }
        #skill .skill_content .skill_items .progress .progress_bar_js {
          float: left;
          width: 0;
          height: 100%;
          font-size: 12px;
          background-color: #FF9800;
          text-align: center;
          animation: progress-js 3s ease-in-out forwards;
          -webkit-animation: progress-js 3s ease-in-out forwards; }
        #skill .skill_content .skill_items .progress .progress_bar_bs {
          float: left;
          width: 0;
          height: 100%;
          font-size: 12px;
          background-color: #FF9800;
          text-align: center;
          animation: progress-bst 3s ease-in-out forwards;
          -webkit-animation: progress-bst 3s ease-in-out forwards; }
        #skill .skill_content .skill_items .progress .progress_bar_uxi {
          float: left;
          width: 0;
          height: 100%;
          font-size: 12px;
          background-color: #FF9800;
          text-align: center;
          animation: progress-uxi 3s ease-in-out forwards;
          -webkit-animation: progress-uxi 3s ease-in-out forwards; }
        #skill .skill_content .skill_items .progress .progress_bar_git {
          float: left;
          width: 0;
          height: 100%;
          font-size: 12px;
          background-color: #FF9800;
          text-align: center;
          animation: progress-git 3s ease-in-out forwards;
          -webkit-animation: progress-git 3s ease-in-out forwards; }
        #skill .skill_content .skill_items .progress .progress_bar_ang {
          float: left;
          width: 0;
          height: 100%;
          font-size: 12px;
          background-color: #FF9800;
          text-align: center;
          animation: progress-ang 3s ease-in-out forwards;
          -webkit-animation: progress-ang 3s ease-in-out forwards; }
        #skill .skill_content .skill_items .progress .progress_bar_react {
          float: left;
          width: 0;
          height: 100%;
          font-size: 12px;
          background-color: #FF9800;
          text-align: center;
          animation: progress-react 3s ease-in-out forwards;
          -webkit-animation: progress-react 3s ease-in-out forwards; }

@keyframes progress-html {
  to {
    width: 95%; } }
@keyframes progress-sass {
  to {
    width: 90%; } }
@keyframes progress-js {
  to {
    width: 70%; } }
@keyframes progress-bst {
  to {
    width: 92%; } }
@keyframes progress-uxi {
  to {
    width: 80%; } }
@keyframes progress-git {
  to {
    width: 70%; } }
@keyframes progress-ang {
  to {
    width: 70%; } }
@keyframes progress-react {
  to {
    width: 50%; } }
#portfolio {
  padding: 60px 0; }
  #portfolio h1 {
    color: #000;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 3px; }
  #portfolio .port_item .loadmore {
    margin-bottom: 15px; }
    #portfolio .port_item .loadmore .img_thumbail {
      width: 100%;
      padding: 3px;
      border: 1px solid #ddd;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      height: 250px;
      background: #ddd;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s; }
      #portfolio .port_item .loadmore .img_thumbail:hover {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1); }

#contact {
  padding: 60px 0;
  background-image: url("../../img/contact-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
  margin-bottom: 30px; }
  #contact .contact_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    background: #111111;
    z-index: 2;
    opacity: .85; }
  #contact .content_ct {
    position: relative;
    z-index: 10; }
    #contact .content_ct h1 {
      color: white;
      font-size: 38px;
      font-weight: bold;
      letter-spacing: 3px; }
    #contact .content_ct .contact_form .form-control {
      border: none;
      outline: none;
      color: #000;
      font-size: 18px;
      margin-bottom: 20px; }
    #contact .content_ct .contact_form input {
      height: 45px; }
    #contact .content_ct .contact_form input[type=number]::-webkit-inner-spin-button,
    #contact .content_ct .contact_form input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    #contact .content_ct .contact_form .submit {
      background: #FF9800;
      border-color: none;
      color: white;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 50px;
      margin-top: 20px;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s; }
      #contact .content_ct .contact_form .submit:hover {
        background: #111111; }
    #contact .content_ct .contact_group h3 {
      color: white;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 20px;
      border-bottom: 1px solid white;
      padding-bottom: 20px; }
    #contact .content_ct .contact_group .contact_address {
      border-bottom: 1px solid white;
      margin-bottom: 10px; }
      #contact .content_ct .contact_group .contact_address p:nth-child(1) {
        color: white;
        font-size: 18px;
        font-weight: normal;
        float: left;
        width: 20%; }
      #contact .content_ct .contact_group .contact_address p:nth-child(2) {
        color: white;
        font-size: 18px;
        font-weight: normal; }

#footer {
  background: #000; }
  #footer .footer_title {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0; }

.toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 999; }
  .toTop i {
    color: #FF9800;
    padding: 9px 12px;
    font-size: 46px; }

/*# sourceMappingURL=main.css.map */
