//Variable color
$color-white-0: rgb(255, 255, 255);
$color-black-0:#000;
$color-black-1:#111111;
$color-black-2:#1a1e23;
$color-gray-0: #656c6d;
$color-gray-1:#bfb7b7; 
$color-gray-2: #333; 
$color-yellow :#FF9800;
$color-brow: #391311;
$color-wheat: wheat;

//Variable font-size
$fs-0: 16px;
$fs-1: 18px;
$fs-2: 20px;
$fs-3: 26px;
$fs-4: 38px;
$fs-5 : 46px;

//variable margin
$mg-0 : 5px;
$mg-1 : 10px;
$mg-2 : 15px;
$mg-3 : 20px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;